<!DOCTYPE html>
<html>
  <head>
    <title>Seattle Building Energy Data</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 600px; width: 600px;
      }
    </style>
    
  </head>
  <body>
    <h1>{{ selected }}</h1>
    <form action="{% url 'plots:index' %}" method="post">
    <table><tr>
	<td>
      {% csrf_token %}
      Predominant building use type:
      <select name="building_use" onchange="this.form.submit()"> 
	{% for use in building_uses %}
	<option value="{{ use }}" {% if use == selected_use %} selected{% endif %}>{{ use }}</option>
	{% endfor %}
      </select>

      {{ js_plot|safe }}
      
      Use
      <select name="property" onchange="this.form.submit()">
	{% for plot in plots %}
	<option value="{{ plot }}" {% if plot == selected_plot %} selected{% endif %}>{{ plot }}</option>
	{% endfor %}
      </select>
      for x-axis
      <br>
      Color plot and map points using:
      <select name="colorby" onchange="this.form.submit()">
	{% for color_by in plots %}
	<option value="{{ color_by }}" {% if color_by == selected_cb %} selected{% endif %}>{{ color_by }}</option>
	{% endfor %}
      </select>
    </td>

    <td>
    <div id="map"></div>
    <script>
      var layer = new ol.layer.Tile({
        source: new ol.source.OSM()
      });
      var center = ol.proj.fromLonLat([-122.35 , 47.63]);

      var fill = new ol.style.Fill({color: 'blue'});
      var stroke = new ol.style.Stroke({color: 'blue', width:0.25});
      var style = new ol.style.Style({
          image: new ol.style.Circle({
            fill: fill,
            stroke: stroke,
            radius: 5
            }),
          fill: fill,
          stroke: stroke
          });

      var features = new Array(); 

      {% for lat,lon in latlon %}
      features.push(new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat([{{lon}}, {{lat}}])) ) );
      {% endfor %}

      var source = new ol.source.Vector({features: features });

      var vectorLayer = new ol.layer.Vector({source: source});

      {% for col in colors %}
      features[{{ forloop.counter0 }}].setStyle(new ol.style.Style({
          image: new ol.style.Circle({
            fill: new ol.style.Fill({color: 'rgb{{ col }}'}),
            stroke: new ol.style.Stroke({color: 'rgb{{ col }}', width:0.25}),
            radius: 5}) }));
      {% endfor %}

      var map = new ol.Map({
        target: "map",
        layers: [layer, vectorLayer],
        view:  new ol.View({
          center: center, 
          zoom:12
        })
      });
    </script>
    </div>
    </td>
    </tr>
   </table>
   </form>
  </body>
</html>
